html {
    position: relative;
    overflow-x: hidden;
    min-height: 100%;
}

body {
    overflow-x: hidden;
    font-size: 1rem;
    @apply text-blue-1;
}

body, input, textarea, select, button, a {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
	font-feature-settings: "liga", "kern";
}

html, body, button, a, input, textarea {
	@apply font-sans;
    font-weight: 300;
}

a.link {
    @apply transition-all;
    @apply duration-200;
    @apply opacity-80;
    @apply hover:opacity-100;
    font-weight: 500;
}

* {
	-webkit-overflow-scrolling: touch;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

.svg-icon--wrapper {
    display: block;
}

.svg-icon--wrapper svg {
    display: block;
    width: 100%;
    height: 100%;
}