#footer .menu-nav .link {
    width: 100%;
}

#footer .menu-nav .link picture {
    aspect-ratio: 22/8;
    width: 150px;
    max-width: 100%;
}

#footer .menu-nav .link picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 767px){
    #footer .logo--wrapper {
        @apply my-8;
    }
    
    #footer .logo--wrapper .svg-icon--wrapper {
        @apply mx-auto;
        width: 200px;
    }

    #footer .menu-nav h4,
    #footer .footer--bottom {
        text-align: center;
    }
}