#header.header-scrolled {
    @apply bg-white;
}

#header.header-scrolled .logo--wrapper .svg-icon--wrapper svg {
    @apply fill-black;
}

#header.header-scrolled .menu-nav .link {
    @apply py-2;
    @apply md:py-4;
    @apply text-black;
}

#header .menu-nav .link.active {
    @apply opacity-100;
    pointer-events: none;
}