section.section--hero .video--wrapper {
	aspect-ratio: 21/9;
	position: relative;
}

section.section--hero .video--wrapper::after {
	content: '';
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.35);
}

section.section--hero .video--wrapper video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

section.section--about .about-picture picture {
	aspect-ratio: 1;
}

section.section--about .about-picture picture img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

section.section--subsidiaries .subsidiary-item::before {
	content: '';
	display: block;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.25);
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

section.section--subsidiaries .subsidiary-item .subsidiary-picture {
	height: 0;
	padding-bottom: 100%;
	position: relative;
}

section.section--subsidiaries .subsidiary-item .subsidiary-picture img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

section.section--subsidiaries .subsidiary-item .subsidiary-content picture {
	aspect-ratio: 22/8;
	width: 140px;
	max-width: 100%;
	margin-bottom: 1rem;
}

section.section--subsidiaries .subsidiary-item .subsidiary-content picture img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.section--maps .section-title {
	line-height: 1.1;
}

.section--clients .client-item {
	@apply px-4;
	@apply md:px-12;
}

.section--clients .client-item figure {
    margin: .5rem 0;
}

.section--clients .client-item figure img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

@media screen and (max-width: 1023px){
	section.section--hero .video--wrapper {
		aspect-ratio: 16/9;
	}

	section.section--about .about-picture picture {
		aspect-ratio: 4/2;
	}

	section.section--about .about-picture picture img {
		object-fit: cover;
	}
}

@media screen and (max-width: 767px){
	section.section--hero .video--wrapper {
		aspect-ratio: 1;
	}

	section.section--about .about-picture picture {
		aspect-ratio: 1;
	}

    .section--clients .client-item figure {
        margin: 1rem 0;
    }
}

@supports (aspect-ratio) {
    .section--clients .client-item figure {
        aspect-ratio: 30/9;
    }
}

@supports not (aspect-ratio) {
    .section--clients .client-item figure {
        height: 80px;
    }
}