.section--hero .banner--wrapper .subsidiary-picture {
	position: relative;
    clip-path: inset(0);
}

.section--hero .banner--wrapper .subsidiary-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
}

.section--hero .banner--wrapper .subsidiary-picture img.first-type {
    object-fit: cover;
}

.section--hero .banner--wrapper .subsidiary-picture::after {
	content: '';
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.35);
}

.section--hero .hero-content--wrapper picture {
    width: 300px;
    max-width: 100%;
}

.section--hero .hero-content--wrapper picture img,
.section--about .about-expertise .expertise-item figure img,
.section--products .picture--wrapper picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section--products .picture--wrapper picture {
    padding: 3rem;
    background-color: #f1f1f1;
}


@media screen and (max-width: 767px){
    .section--hero .banner--wrapper .subsidiary-picture {
        aspect-ratio: 5/4;
    }

    .section--hero .banner--wrapper .subsidiary-picture img.first-type {
        height: 300px;
    }
}


@supports (aspect-ratio) {
    .section--hero .banner--wrapper .subsidiary-picture {
        aspect-ratio: 21/9;
    }

    .section--about .about-expertise .expertise-item figure {
        aspect-ratio: 16/9;
    }

    .section--products .picture--wrapper picture {
        aspect-ratio: 1;
    }

    .section--hero .hero-content--wrapper picture {
        aspect-ratio: 22/8;
    }
}

@supports not (aspect-ratio) {
    .section--hero .banner--wrapper .subsidiary-picture {
        width: 100%;
        height: 60vh;
    }

    .section--about .about-expertise .expertise-item figure {
        height: 80px;
    }

    .section--products .picture--wrapper picture {
        height: 0;
        padding-bottom: 90%;
        position: relative;
    }

    .section--products .picture--wrapper picture img {
        position: absolute;
        top: 0;
        left: 0;
        padding: 4rem;
    }
}