<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
  
  <title><%= htmlWebpackPlugin.options.title %> | PT Bersaudara Group</title>
</head>

<body>
  <header id="header" class="fixed top-0 left-0 w-full z-[5] border-b-[1px] border-[#999] py-2 transition-all duration-200">
    <div class="header--inner">
      <div class="container">
        <div class="grid grid-cols-5 md:grid-cols-12 gap-2">
          <div class="logo--wrapper col-start-1 col-span-2 md:col-span-2 flex items-center">
            <a href="/" class="svg-icon--wrapper block">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 386 89.07" class="fill-white">
                <g id="Group_852" data-name="Group 852" transform="translate(-871.45 215.058)">
                  <path id="Path_1" data-name="Path 1" d="M879.761-157.082v1.6a2.349,2.349,0,0,1-2.462,2.506c-1.771.028-3.538,0-5.3.017-.42.006-.566-.157-.544-.549.011-.179,0-.359,0-.538v-56.858c0-2.736,1.418-4.143,4.171-4.149h6.684c-.376.421-.667.729-.948,1.054a4.423,4.423,0,0,0-1,2.983q-.017,8.049,0,16.1c0,.258.028.521.056.981.549-.69.964-1.239,1.418-1.755a11.694,11.694,0,0,1,7.58-3.863,14.994,14.994,0,0,1,6.757.488,16.439,16.439,0,0,1,5.747,3.213c4.132,3.588,6.128,8.3,7.115,13.529a40.659,40.659,0,0,1,.387,11.544c-.443,4.429-1.53,8.679-4.239,12.324a15.215,15.215,0,0,1-13.282,6.453,16.711,16.711,0,0,1-7.614-1.828,14.534,14.534,0,0,1-3.774-2.848,6.155,6.155,0,0,0-.583-.493Zm.4-18.115c0,4,.028,8-.023,12a3.072,3.072,0,0,0,.869,2.361,12.513,12.513,0,0,0,2.416,1.979,11.833,11.833,0,0,0,8.1,1.34,7.247,7.247,0,0,0,4.323-2.473,14.965,14.965,0,0,0,3.168-6.566,40.559,40.559,0,0,0,.987-12.5,29.525,29.525,0,0,0-2.338-10.518,9.537,9.537,0,0,0-3.056-3.992,7.3,7.3,0,0,0-5.086-1.149c-3.156.269-5.881,1.267-7.877,3.818a6.153,6.153,0,0,0-1.5,4.037C880.215-182.974,880.165-179.089,880.165-175.2Z" transform="translate(0 0.008)"/>
                  <path id="Path_2" data-name="Path 2" d="M943.5-157.17a5.8,5.8,0,0,0-.532.443,14.683,14.683,0,0,1-8.573,4.485c-4.861.768-9.414,0-13.327-3.19a17.587,17.587,0,0,1-5.248-7.479A33.837,33.837,0,0,1,913.8-175.33a33.673,33.673,0,0,1,2.159-12.531,19.985,19.985,0,0,1,4.659-7.188,15.455,15.455,0,0,1,12.072-4.642,12.849,12.849,0,0,1,8.331,3.353,16.42,16.42,0,0,1,1.407,1.693,1.719,1.719,0,0,0,.572.538c.022-.224.062-.449.062-.673q.017-8.149.011-16.3a4.687,4.687,0,0,0-2-3.891,6.108,6.108,0,0,1,.685-.073c2.125-.006,4.255-.034,6.38.006a3.664,3.664,0,0,1,3.37,1.822,4.493,4.493,0,0,1,.443,2.114q.043,13.338.022,26.688v30.506c0,.948-.005.948-.947.948-1.564,0-3.134,0-4.7-.006a2.394,2.394,0,0,1-2.663-2.646v-1.463Zm-.236-17.964c0-4.138.006-8.27-.011-12.4a2.941,2.941,0,0,0-.191-1.1c-2.131-5.147-6.868-6.308-11.231-6.072a6.375,6.375,0,0,0-4.906,3.134c-2.18,3.179-2.876,6.829-3.341,10.541a41,41,0,0,0-.152,7.956,29.524,29.524,0,0,0,1.985,9.593c.976,2.3,2.316,4.351,4.716,5.422a10.027,10.027,0,0,0,5.719.611,10.389,10.389,0,0,0,6.409-3.173,3.462,3.462,0,0,0,1.026-2.506C943.227-167.139,943.26-171.136,943.26-175.134Z" transform="translate(195.085 0)"/>
                  <path id="Path_3" data-name="Path 3" d="M902.759-204.366c.056-.774.118-1.615.185-2.45a3.926,3.926,0,0,0,.073-.8c-.156-1.015.4-1.469,1.239-1.845a31.069,31.069,0,0,1,7.239-2.394,44,44,0,0,1,4.457-.482,21.122,21.122,0,0,1,13.338,3.588,10.189,10.189,0,0,1,4.884,9q-.008,16.736.005,33.467c0,.516-.146.7-.684.684-1.435-.034-2.865-.006-4.3-.011a2.749,2.749,0,0,1-2.921-2.955c-.005-.723-.005-1.447-.005-2.361a7.084,7.084,0,0,0-.679.589,14.5,14.5,0,0,1-6.5,4.222c-4.346,1.385-8.758,1.71-13.07-.067-4.289-1.772-6.543-5.22-7.283-9.711a13.345,13.345,0,0,1,3.028-11.012,17.343,17.343,0,0,1,7.35-5.1,30.435,30.435,0,0,1,8.253-1.592,27.744,27.744,0,0,1,7.586.617c.129.022.257.028.471.045.011-.264.04-.5.04-.734,0-2.17.005-4.34,0-6.5a8.143,8.143,0,0,0-7.037-7.592,23.283,23.283,0,0,0-10.821,1.155C905.961-206.02,904.419-205.14,902.759-204.366Zm22.7,21.5c0-1.9-.011-3.8.005-5.7.005-.437-.1-.645-.583-.667-.779-.039-1.553-.235-2.332-.235-1.845.011-3.7.017-5.545.163a10.637,10.637,0,0,0-6.61,2.781,9.192,9.192,0,0,0-2.831,8.533,7.907,7.907,0,0,0,4.682,6.5,10.062,10.062,0,0,0,4.928.622,9.506,9.506,0,0,0,7.468-4.351,4.346,4.346,0,0,0,.841-2.753C925.405-179.6,925.461-181.239,925.461-182.87Z" transform="translate(124.791 12.244)"/>
                  <path id="Path_4" data-name="Path 4" d="M949.219-170.787a7.076,7.076,0,0,0-.527.476,16.346,16.346,0,0,1-10.552,5.119,17.953,17.953,0,0,1-7.827-.561,11.677,11.677,0,0,1-8.3-9.375c-1.172-5.713.734-10.384,5.2-14.011a20.187,20.187,0,0,1,11.623-4.295,26.4,26.4,0,0,1,2.809-.207c1.665.067,3.33.247,4.99.409.617.062,1.222.207,1.912.325.011-.3.034-.538.039-.774,0-2.17.056-4.34-.017-6.5a8.013,8.013,0,0,0-7.025-7.575,22.877,22.877,0,0,0-10.759,1.127c-1.665.594-3.224,1.48-4.89,2.26.051-.8.107-1.688.174-2.579a3.692,3.692,0,0,0,.073-.735c-.14-.953.376-1.391,1.178-1.749a31.138,31.138,0,0,1,7.356-2.439,43.963,43.963,0,0,1,4.463-.471,21.124,21.124,0,0,1,13.209,3.555A10.233,10.233,0,0,1,957.3-199.7q-.017,16.694.006,33.388c0,.561-.174.729-.729.712-1.384-.034-2.775-.011-4.161-.011a2.767,2.767,0,0,1-3.022-2.988v-2.125Zm-.628-12.105c0-1.9-.005-3.8.005-5.7,0-.392-.078-.611-.544-.639-.8-.045-1.6-.235-2.394-.235-1.828.006-3.661.017-5.483.157a10.669,10.669,0,0,0-6.622,2.759,9.211,9.211,0,0,0-2.859,8.59,7.9,7.9,0,0,0,4.7,6.476,10.131,10.131,0,0,0,4.928.617,9.5,9.5,0,0,0,7.457-4.368,4.381,4.381,0,0,0,.83-2.759C948.529-179.628,948.591-181.26,948.591-182.892Z" transform="translate(231.385 12.243)"/>
                  <path id="Path_5" data-name="Path 5" d="M938.162-204.358c.056-.763.112-1.6.179-2.433a3.6,3.6,0,0,0,.073-.8c-.157-1.043.426-1.508,1.29-1.884a31.69,31.69,0,0,1,7.047-2.332c1.379-.247,2.786-.376,4.188-.5a21.243,21.243,0,0,1,13.737,3.571,10.155,10.155,0,0,1,4.9,9q0,16.728.011,33.461c0,.578-.2.712-.74.7-1.385-.034-2.775-.011-4.166-.011a2.776,2.776,0,0,1-3.006-3.005v-2.3a7.77,7.77,0,0,0-.717.622A14.511,14.511,0,0,1,954.5-166.1c-4.351,1.385-8.758,1.71-13.069-.062-4.272-1.76-6.532-5.181-7.283-9.638a13.329,13.329,0,0,1,3.05-11.129,17.263,17.263,0,0,1,7.306-5.057,29.946,29.946,0,0,1,8.253-1.6,27.677,27.677,0,0,1,7.58.611c.129.022.263.034.477.056.017-.241.045-.449.045-.662.005-2.237.089-4.474-.017-6.706a7.991,7.991,0,0,0-7-7.457,22.73,22.73,0,0,0-10.759,1.116C941.409-206.023,939.844-205.143,938.162-204.358Zm22.7,21.569c0-1.923-.011-3.846.006-5.764.005-.437-.1-.645-.583-.667-.78-.039-1.553-.235-2.333-.235-1.85.011-3.706.017-5.545.163a10.637,10.637,0,0,0-6.61,2.781,9.188,9.188,0,0,0-2.832,8.533,7.908,7.908,0,0,0,4.682,6.5,10.127,10.127,0,0,0,4.929.622,9.5,9.5,0,0,0,7.462-4.351,4.318,4.318,0,0,0,.841-2.753C960.8-179.565,960.864-181.18,960.864-182.789Z" transform="translate(287.867 12.23)"/>
                  <path id="Path_6" data-name="Path 6" d="M913.638-174.033c-.191,1.531-.353,2.921-.555,4.312a.884.884,0,0,1-.37.555,30.116,30.116,0,0,1-11.757,4.278,22.705,22.705,0,0,1-14.292-2.467,13.212,13.212,0,0,1-7.177-10.137,17.08,17.08,0,0,1-.083-2.276c-.012-5.321.05-10.642-.028-15.957a14.969,14.969,0,0,1,1.76-7.076,16.134,16.134,0,0,1,7.8-7.614,22.023,22.023,0,0,1,7.766-1.867,28.191,28.191,0,0,1,7.272.286,14.5,14.5,0,0,1,8.64,4.463,11.2,11.2,0,0,1,2.736,6.425,14.013,14.013,0,0,1-2.624,10,15.467,15.467,0,0,1-7.6,5.36,30.029,30.029,0,0,1-8.931,1.6,40.994,40.994,0,0,1-7.087-.28c-.611-.079-.824.107-.812.74.034,1.878.062,3.757,0,5.635a7.868,7.868,0,0,0,6.425,8.158,22.1,22.1,0,0,0,7.193.348,22.16,22.16,0,0,0,6.992-1.738c1.43-.656,2.747-1.553,4.115-2.349C913.19-173.73,913.352-173.848,913.638-174.033Zm-25.124-20.291c0,1.744.017,3.488-.011,5.231-.006.51.123.813.667.863a4.419,4.419,0,0,1,.527.112,21.3,21.3,0,0,0,7.131.05,21.069,21.069,0,0,0,4.1-.914,8.659,8.659,0,0,0,5.713-6.263,17.394,17.394,0,0,0,.269-7.053c-.521-3.4-2.22-5.018-5.618-5.646a14.263,14.263,0,0,0-4.255.123,9.343,9.343,0,0,0-6.324,3.269,8.285,8.285,0,0,0-2.2,5.534C888.52-197.453,888.514-195.888,888.514-194.324Z" transform="translate(36.505 12.294)"/>
                  <path id="Path_7" data-name="Path 7" d="M892-172.44c1.491.712,2.809,1.413,4.183,1.99a18.975,18.975,0,0,0,8.8,1.761c3.673-.275,6.745-1.789,8.567-5.147a6.788,6.788,0,0,0-2.092-8.825,34.87,34.87,0,0,0-8.382-4.272,20.2,20.2,0,0,1-7.076-4.356,10.887,10.887,0,0,1-3.252-6.734,11.755,11.755,0,0,1,2.293-8.528,13.629,13.629,0,0,1,8.752-5.371,21.8,21.8,0,0,1,14.157,1.912,2.608,2.608,0,0,1,1.677,2.2,22.389,22.389,0,0,0,.448,2.321c-.88-.4-1.643-.768-2.416-1.088a17.682,17.682,0,0,0-7.754-1.592,11.3,11.3,0,0,0-5.8,1.62c-2.478,1.643-3.145,4.1-2.932,6.908a4.861,4.861,0,0,0,1.189,3.4,10.079,10.079,0,0,0,2.63,1.783,80.434,80.434,0,0,1,10.793,5.792,15.268,15.268,0,0,1,5.556,5.495,10.516,10.516,0,0,1-.852,11.567,15.45,15.45,0,0,1-8.8,5.971,24.522,24.522,0,0,1-9.582.465,23.919,23.919,0,0,1-7.166-1.884,2.95,2.95,0,0,1-2.069-2.276A29.158,29.158,0,0,0,892-172.44Z" transform="translate(94.685 12.562)"/>
                  <path id="Path_8" data-name="Path 8" d="M886.707-211.431a1.607,1.607,0,0,1,.325-.067c2.484.011,4.968.017,7.446.056a4.256,4.256,0,0,1,1.307.28,1.812,1.812,0,0,1,1.39,2.018c.006.415,0,.83,0,1.245l.18.084c.224-.185.454-.359.673-.555a13.654,13.654,0,0,1,10.361-3.88,8.451,8.451,0,0,1,4.071,1.413.647.647,0,0,1,.275.342c.2,1.318.376,2.635.56,3.97-1.127-.286-2.176-.594-3.241-.819a9.869,9.869,0,0,0-7.092,1.239,12.9,12.9,0,0,0-4.934,4.592,9.094,9.094,0,0,0-1.262,4.727q.008,14.844.005,29.693c0,.97,0,.97-.992.97H889.2c-.88,0-.88-.006-.88-.9q-.008-20.109.005-40.223a4.675,4.675,0,0,0-1.525-3.964C886.757-211.246,886.752-211.324,886.707-211.431Z" transform="translate(70.287 12.821)"/>
                  <path id="Path_9" data-name="Path 9" d="M928.793-211.475c.965,0,1.766-.005,2.562,0,1.766.011,3.538.006,5.3.056a4.436,4.436,0,0,1,1.363.3,1.8,1.8,0,0,1,1.351,1.979c.006.415,0,.835,0,1.43a5.018,5.018,0,0,0,.639-.432,14.184,14.184,0,0,1,8.141-4.026,9.243,9.243,0,0,1,6.426,1.312.753.753,0,0,1,.353.432c.207,1.3.376,2.59.56,3.925-1.11-.286-2.153-.594-3.213-.813a9.815,9.815,0,0,0-6.863,1.093,13.52,13.52,0,0,0-4.866,4.194,8.99,8.99,0,0,0-1.587,5.169q.008,14.92,0,29.834c0,.919,0,.925-.9.925-2.1,0-4.2.006-6.307,0-1.357-.006-1.239.123-1.239-1.217q-.009-20.075,0-40.156a4.6,4.6,0,0,0-.634-2.691A15.879,15.879,0,0,0,928.793-211.475Z" transform="translate(264.168 12.799)"/>
                  <path id="Path_10" data-name="Path 10" d="M909.311-170.663c1.385,0,2.748.084,4.1-.017,2.686-.2,4.295-1.817,5.1-4.255a10.619,10.619,0,0,0,.561-3.2c.045-8.113.022-16.226.022-24.339,0-.925,0-.925-.959-.925h-4.727c.41-.7.707-1.306,1.1-1.845,1.2-1.637,2.344-3.325,3.689-4.827a15.083,15.083,0,0,1,2.843-2.052.941.941,0,0,1,.51-.135c2.484-.011,4.962-.006,7.541-.006a2.994,2.994,0,0,1-.314.387,3.4,3.4,0,0,0-1.088,2.635c.011,9.986.056,19.977-.017,29.968a13.756,13.756,0,0,1-4.065,9.885,15.893,15.893,0,0,1-5.192,3.471,3,3,0,0,1-2.9-.062A26.6,26.6,0,0,1,909.311-170.663Z" transform="translate(174.419 12.859)"/>
                  <path id="Path_11" data-name="Path 11" d="M926.741-165.09c-5.046-.129-9.812-.6-13.978-3.448a11.712,11.712,0,0,1-5.047-8.191,26.381,26.381,0,0,1-.269-3.93q-.034-13.877.005-27.754c0-1.435-.045-2.792-1.558-3.773.393-.034.583-.062.768-.062,2.013-.006,4.031.056,6.039-.022a4.776,4.776,0,0,1,3.448,1.379,29.466,29.466,0,0,1,5.534,7.182,1.539,1.539,0,0,1,.079.342h-4.788c-.9,0-.908,0-.908.936-.006,1.144,0,2.282,0,3.42,0,6.661.051,13.322-.022,19.983a10.9,10.9,0,0,0,2.68,7.16,31.218,31.218,0,0,0,7.653,6.538Z" transform="translate(158.682 12.826)"/>
                  <path id="Path_12" data-name="Path 12" d="M925.846-194.292c.039-2.646.885-4.967,3.173-6.38,2.865-1.772,6.813-1.632,8.977,1.447a8.376,8.376,0,0,1,1.317,6.01,7.293,7.293,0,0,1-2.091,4.452,6.5,6.5,0,0,1-3.521,1.615,6.441,6.441,0,0,1-7.653-5.354C925.935-193.086,925.913-193.692,925.846-194.292Zm2.635-.045c0,.314-.011.628.006.942a4.5,4.5,0,0,0,3.582,4.446,3.584,3.584,0,0,0,3.779-1.5,8.17,8.17,0,0,0-.011-7.9,3.978,3.978,0,0,0-6.173-.213A6.541,6.541,0,0,0,928.481-194.337Z" transform="translate(250.592 60.996)"/>
                  <path id="Path_13" data-name="Path 13" d="M927.238-194.274a6.061,6.061,0,0,1,1.065,1.262c.493,1.11.891,2.271,1.279,3.426.224.667.353,1.362.555,2.164-.752,0-1.435.028-2.114-.022-.14-.011-.331-.286-.381-.471-.314-1.043-.6-2.1-.875-3.151-.454-1.749-.9-2.047-2.848-2.226-1.547-.14-1.4-.275-1.413,1.334-.011,1.273-.022,2.545.006,3.818.011.533-.135.751-.712.751-1.631-.011-1.631.017-1.631-1.632,0-3.914.016-7.822-.017-11.729-.005-.69.275-.852.892-.925a21,21,0,0,1,5.338.134,3.647,3.647,0,0,1,2.534,5.994,6.391,6.391,0,0,1-1.239,1A4.709,4.709,0,0,1,927.238-194.274Zm-4.732-3.3c0,.65.006,1.3,0,1.946-.005.381.146.6.555.549.875-.118,1.749-.252,2.63-.359,1.177-.14,1.57-.942,1.7-1.979a1.957,1.957,0,0,0-1.424-2.237,6.909,6.909,0,0,0-1.346-.381,9.238,9.238,0,0,0-1.845.062c-.112.017-.252.342-.263.527C922.483-198.827,922.506-198.2,922.506-197.577Z" transform="translate(224.356 61.135)"/>
                  <path id="Path_14" data-name="Path 14" d="M925.024-199.558c-1.267-.112-2.416-.292-3.56-.286-3.745.017-5.495,2.781-5.125,6.168a4.551,4.551,0,0,0,2.12,3.751,7.725,7.725,0,0,0,2.445.757,8.625,8.625,0,0,0,1.939.005c.539-.017.852-.23.819-.869-.056-.908-.028-1.828-.011-2.747.006-.37-.123-.527-.5-.516-.516.023-1.031-.006-1.541.011-.381.006-.5-.157-.516-.527-.073-1.368-.084-1.368,1.3-1.368.981,0,1.968.017,2.955-.006.46-.011.634.146.628.617-.017,2.013.006,4.026-.023,6.033a.8.8,0,0,1-.347.617,11.033,11.033,0,0,1-7.978-.039,6.248,6.248,0,0,1-3.762-5.523,7.371,7.371,0,0,1,1.581-5.646,6.979,6.979,0,0,1,3.493-2.254,10.626,10.626,0,0,1,5.876,0c.516.134.734.359.5.9A7.115,7.115,0,0,0,925.024-199.558Z" transform="translate(195.116 61.098)"/>
                  <path id="Path_15" data-name="Path 15" d="M943.318-196.795a36.426,36.426,0,0,1-.039,5.012c-.505,3.566-3.275,4.956-6.56,4.491-2.865-.4-4.177-2.506-4.289-5.242-.124-2.86-.028-5.725-.051-8.584-.005-.51.19-.656.673-.645,2,.045,1.632-.258,1.648,1.6.022,2.254-.034,4.514.034,6.773a8.58,8.58,0,0,0,.476,2.6A2.578,2.578,0,0,0,938-189.041a2.737,2.737,0,0,0,2.837-2.271,10.509,10.509,0,0,0,.28-2.248c.034-2.478.028-4.962,0-7.44-.005-.589.163-.785.757-.768,1.856.062,1.553-.241,1.575,1.553.017,1.138,0,2.282,0,3.42Z" transform="translate(280.625 61.217)"/>
                  <path id="Path_16" data-name="Path 16" d="M938.577-194.512c0-2.125.016-4.244-.006-6.364-.011-.583.213-.751.774-.807a21.874,21.874,0,0,1,5.136.112,4.135,4.135,0,0,1,2.983,6.5,4.648,4.648,0,0,1-3.751,2c-.807.073-1.626.09-2.433.2-.146.022-.343.364-.348.566-.033,1.34-.017,2.68-.022,4.02,0,.875,0,.88-.891.875-1.659-.017-1.424.213-1.435-1.407C938.571-190.716,938.577-192.617,938.577-194.512Zm2.337-2.809c0,.69.006,1.385,0,2.08-.005.342.106.572.494.549a21.1,21.1,0,0,0,2.31-.14,2.665,2.665,0,0,0,1.732-4.02c-.134-.224-.319-.5-.538-.566a7.923,7.923,0,0,0-3.4-.617c-.409.05-.605.219-.6.634C940.92-198.706,940.915-198.017,940.915-197.321Z" transform="translate(309.212 61.143)"/>
                  <path id="Path_17" data-name="Path 17" d="M916.373-214.226c-1.514,1.149-1.721,2.742-1.615,4.463.034.555.006,1.116.006,1.676,0,1.25-.163,1.413-1.435,1.413h-5.966c-1.177,0-1.374-.2-1.374-1.346,0-1.25.051-2.5-.011-3.745-.084-1.531.712-1.889,1.71-2.288a2.979,2.979,0,0,1,1.048-.168C911.282-214.237,913.827-214.226,916.373-214.226Z" transform="translate(159.036 3.814)"/>
                  <path id="Path_18" data-name="Path 18" d="M910.913-214.219c2.859,0,5.495-.039,8.125.028a4.519,4.519,0,0,1,1.794.65,1.391,1.391,0,0,1,.723,1.34c-.017,1.491.006,2.988-.005,4.485-.005.762-.28,1.032-1.071,1.037q-3.313.017-6.638,0c-.807-.006-1.054-.275-1.06-1.11-.011-.757-.045-1.519.006-2.276A4.163,4.163,0,0,0,910.913-214.219Z" transform="translate(181.799 3.813)"/>
                </g>
              </svg>
            </a>
          </div>
          <div class="menu--wrapper col-start-3 col-span-3 md:col-start-10 md:col-span-3">
            <nav class="nav menu-nav text-right">
              <ul>
                <li><a href="/subsidiaries" class="link text-white inline-block py-6">Subsidiaries</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <main>
    <section class="section--hero relative">
      <div class="video--wrapper">
        <video autoplay playsinline muted loop preload="metadata">
          <source src="../video/video.static.mp4" type="video/mp4">
          <source src="../video/video.static.webm" type="video/webm">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="hero-content--wrapper absolute top-0 left-0 w-full h-full flex items-center z-[3]">
        <div class="container">
          <div class="grid grid-cols-1 md:grid-cols-3 gap-3 mt-8">
            <h1 class="text-white font-bold text-2xl leading-snug md:text-4xl xl:text-5xl md:col-span-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
          </div>
        </div>
      </div>
    </section>
    
    <section class="section--about bg-black text-white">
      <div class="grid lg:grid-cols-2 gap-0">
        
        <div class="about-content lg:order-2 py-8 px-5 md:py-10 md:px-12 lg:px-16 flex items-center">
          <div class="about-content--wrapper">
            <h3 class="section-title uppercase">About</h3>
            <p class="whitespace-pre-line leading-relaxed">
              With extensive experience and prestige, <span class="whitespace-nowrap">PT. Bersaudara Group</span> is acknowledged by both private sector and government institutions for marketing and maintenance of medical equipment nationwide.
              
              Complete with branches spread throughout 88 cities around the country,
              <span class="whitespace-nowrap">PT. Bersaudara Group</span> plans to continue increasing its reach to the most remote areas in Indonesia.
              
              The comprehensive catalog of <span class="whitespace-nowrap">PT. Bersaudara Group</span> represents over 40 distinct international principals, which are rigorously curated to cater to the Indonesian market.
            </p>
          </div>
        </div>
        
        <div class="about-picture md:order-1">
          <picture class="block">
            <source type="image/webp" srcset="../images/kv-history.static.webp">
            <source srcset="../images/kv-history.static.jpg">
            <img src="../images/kv-history.static.jpg" width="940" height="940" alt="history" />
          </picture>
        </div>
        
      </div>
    </section>
    
    <section class="section--founders bg-[#eee] text-black">
      <div class="section--inner py-10" data-io="home-founders"></div>
    </section>

    <section class="section--structure bg-[#eee] text-black">
      <div class="section--inner py-10 xl:py-16" data-io="home-structure"></div>
    </section>
    
    <div data-io="home-accent-anatomical"></div>
    
    <section class="section--subsidiaries text-black">
      <div class="section--inner py-12" data-io="home-subsidiaries"></div>
    </section>
    
    <section class="section--maps">
      <div class="section--inner bg-[#eee] py-10" data-io="home-maps"></div>
    </section>
    
    <section class="section--clients">
      <div class="section--inner py-10 text-center text-black" data-io="home-clients"></div>
    </section>
    
    <div data-io="home-accent-operation"></div>
  </main>
  
  <footer id="footer" class="bg-black text-white border-b-4 border-blue-3">
    <div class="footer--top py-6 md:py-8 lg:py-10">
      <div class="container">
        <div class="grid grid-cols-1 md:grid-cols-12 gap-3">
          <div class="logo--wrapper col-start-1 md:col-span-3 lg:col-span-2">
            <a href="#" class="svg-icon--wrapper block">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 386 89.07">
                <g id="Group_852" data-name="Group 852" transform="translate(-871.45 215.058)">
                  <path id="Path_1" data-name="Path 1" d="M879.761-157.082v1.6a2.349,2.349,0,0,1-2.462,2.506c-1.771.028-3.538,0-5.3.017-.42.006-.566-.157-.544-.549.011-.179,0-.359,0-.538v-56.858c0-2.736,1.418-4.143,4.171-4.149h6.684c-.376.421-.667.729-.948,1.054a4.423,4.423,0,0,0-1,2.983q-.017,8.049,0,16.1c0,.258.028.521.056.981.549-.69.964-1.239,1.418-1.755a11.694,11.694,0,0,1,7.58-3.863,14.994,14.994,0,0,1,6.757.488,16.439,16.439,0,0,1,5.747,3.213c4.132,3.588,6.128,8.3,7.115,13.529a40.659,40.659,0,0,1,.387,11.544c-.443,4.429-1.53,8.679-4.239,12.324a15.215,15.215,0,0,1-13.282,6.453,16.711,16.711,0,0,1-7.614-1.828,14.534,14.534,0,0,1-3.774-2.848,6.155,6.155,0,0,0-.583-.493Zm.4-18.115c0,4,.028,8-.023,12a3.072,3.072,0,0,0,.869,2.361,12.513,12.513,0,0,0,2.416,1.979,11.833,11.833,0,0,0,8.1,1.34,7.247,7.247,0,0,0,4.323-2.473,14.965,14.965,0,0,0,3.168-6.566,40.559,40.559,0,0,0,.987-12.5,29.525,29.525,0,0,0-2.338-10.518,9.537,9.537,0,0,0-3.056-3.992,7.3,7.3,0,0,0-5.086-1.149c-3.156.269-5.881,1.267-7.877,3.818a6.153,6.153,0,0,0-1.5,4.037C880.215-182.974,880.165-179.089,880.165-175.2Z" transform="translate(0 0.008)" fill="#fff"/>
                  <path id="Path_2" data-name="Path 2" d="M943.5-157.17a5.8,5.8,0,0,0-.532.443,14.683,14.683,0,0,1-8.573,4.485c-4.861.768-9.414,0-13.327-3.19a17.587,17.587,0,0,1-5.248-7.479A33.837,33.837,0,0,1,913.8-175.33a33.673,33.673,0,0,1,2.159-12.531,19.985,19.985,0,0,1,4.659-7.188,15.455,15.455,0,0,1,12.072-4.642,12.849,12.849,0,0,1,8.331,3.353,16.42,16.42,0,0,1,1.407,1.693,1.719,1.719,0,0,0,.572.538c.022-.224.062-.449.062-.673q.017-8.149.011-16.3a4.687,4.687,0,0,0-2-3.891,6.108,6.108,0,0,1,.685-.073c2.125-.006,4.255-.034,6.38.006a3.664,3.664,0,0,1,3.37,1.822,4.493,4.493,0,0,1,.443,2.114q.043,13.338.022,26.688v30.506c0,.948-.005.948-.947.948-1.564,0-3.134,0-4.7-.006a2.394,2.394,0,0,1-2.663-2.646v-1.463Zm-.236-17.964c0-4.138.006-8.27-.011-12.4a2.941,2.941,0,0,0-.191-1.1c-2.131-5.147-6.868-6.308-11.231-6.072a6.375,6.375,0,0,0-4.906,3.134c-2.18,3.179-2.876,6.829-3.341,10.541a41,41,0,0,0-.152,7.956,29.524,29.524,0,0,0,1.985,9.593c.976,2.3,2.316,4.351,4.716,5.422a10.027,10.027,0,0,0,5.719.611,10.389,10.389,0,0,0,6.409-3.173,3.462,3.462,0,0,0,1.026-2.506C943.227-167.139,943.26-171.136,943.26-175.134Z" transform="translate(195.085 0)" fill="#fff"/>
                  <path id="Path_3" data-name="Path 3" d="M902.759-204.366c.056-.774.118-1.615.185-2.45a3.926,3.926,0,0,0,.073-.8c-.156-1.015.4-1.469,1.239-1.845a31.069,31.069,0,0,1,7.239-2.394,44,44,0,0,1,4.457-.482,21.122,21.122,0,0,1,13.338,3.588,10.189,10.189,0,0,1,4.884,9q-.008,16.736.005,33.467c0,.516-.146.7-.684.684-1.435-.034-2.865-.006-4.3-.011a2.749,2.749,0,0,1-2.921-2.955c-.005-.723-.005-1.447-.005-2.361a7.084,7.084,0,0,0-.679.589,14.5,14.5,0,0,1-6.5,4.222c-4.346,1.385-8.758,1.71-13.07-.067-4.289-1.772-6.543-5.22-7.283-9.711a13.345,13.345,0,0,1,3.028-11.012,17.343,17.343,0,0,1,7.35-5.1,30.435,30.435,0,0,1,8.253-1.592,27.744,27.744,0,0,1,7.586.617c.129.022.257.028.471.045.011-.264.04-.5.04-.734,0-2.17.005-4.34,0-6.5a8.143,8.143,0,0,0-7.037-7.592,23.283,23.283,0,0,0-10.821,1.155C905.961-206.02,904.419-205.14,902.759-204.366Zm22.7,21.5c0-1.9-.011-3.8.005-5.7.005-.437-.1-.645-.583-.667-.779-.039-1.553-.235-2.332-.235-1.845.011-3.7.017-5.545.163a10.637,10.637,0,0,0-6.61,2.781,9.192,9.192,0,0,0-2.831,8.533,7.907,7.907,0,0,0,4.682,6.5,10.062,10.062,0,0,0,4.928.622,9.506,9.506,0,0,0,7.468-4.351,4.346,4.346,0,0,0,.841-2.753C925.405-179.6,925.461-181.239,925.461-182.87Z" transform="translate(124.791 12.244)" fill="#fff"/>
                  <path id="Path_4" data-name="Path 4" d="M949.219-170.787a7.076,7.076,0,0,0-.527.476,16.346,16.346,0,0,1-10.552,5.119,17.953,17.953,0,0,1-7.827-.561,11.677,11.677,0,0,1-8.3-9.375c-1.172-5.713.734-10.384,5.2-14.011a20.187,20.187,0,0,1,11.623-4.295,26.4,26.4,0,0,1,2.809-.207c1.665.067,3.33.247,4.99.409.617.062,1.222.207,1.912.325.011-.3.034-.538.039-.774,0-2.17.056-4.34-.017-6.5a8.013,8.013,0,0,0-7.025-7.575,22.877,22.877,0,0,0-10.759,1.127c-1.665.594-3.224,1.48-4.89,2.26.051-.8.107-1.688.174-2.579a3.692,3.692,0,0,0,.073-.735c-.14-.953.376-1.391,1.178-1.749a31.138,31.138,0,0,1,7.356-2.439,43.963,43.963,0,0,1,4.463-.471,21.124,21.124,0,0,1,13.209,3.555A10.233,10.233,0,0,1,957.3-199.7q-.017,16.694.006,33.388c0,.561-.174.729-.729.712-1.384-.034-2.775-.011-4.161-.011a2.767,2.767,0,0,1-3.022-2.988v-2.125Zm-.628-12.105c0-1.9-.005-3.8.005-5.7,0-.392-.078-.611-.544-.639-.8-.045-1.6-.235-2.394-.235-1.828.006-3.661.017-5.483.157a10.669,10.669,0,0,0-6.622,2.759,9.211,9.211,0,0,0-2.859,8.59,7.9,7.9,0,0,0,4.7,6.476,10.131,10.131,0,0,0,4.928.617,9.5,9.5,0,0,0,7.457-4.368,4.381,4.381,0,0,0,.83-2.759C948.529-179.628,948.591-181.26,948.591-182.892Z" transform="translate(231.385 12.243)" fill="#fff"/>
                  <path id="Path_5" data-name="Path 5" d="M938.162-204.358c.056-.763.112-1.6.179-2.433a3.6,3.6,0,0,0,.073-.8c-.157-1.043.426-1.508,1.29-1.884a31.69,31.69,0,0,1,7.047-2.332c1.379-.247,2.786-.376,4.188-.5a21.243,21.243,0,0,1,13.737,3.571,10.155,10.155,0,0,1,4.9,9q0,16.728.011,33.461c0,.578-.2.712-.74.7-1.385-.034-2.775-.011-4.166-.011a2.776,2.776,0,0,1-3.006-3.005v-2.3a7.77,7.77,0,0,0-.717.622A14.511,14.511,0,0,1,954.5-166.1c-4.351,1.385-8.758,1.71-13.069-.062-4.272-1.76-6.532-5.181-7.283-9.638a13.329,13.329,0,0,1,3.05-11.129,17.263,17.263,0,0,1,7.306-5.057,29.946,29.946,0,0,1,8.253-1.6,27.677,27.677,0,0,1,7.58.611c.129.022.263.034.477.056.017-.241.045-.449.045-.662.005-2.237.089-4.474-.017-6.706a7.991,7.991,0,0,0-7-7.457,22.73,22.73,0,0,0-10.759,1.116C941.409-206.023,939.844-205.143,938.162-204.358Zm22.7,21.569c0-1.923-.011-3.846.006-5.764.005-.437-.1-.645-.583-.667-.78-.039-1.553-.235-2.333-.235-1.85.011-3.706.017-5.545.163a10.637,10.637,0,0,0-6.61,2.781,9.188,9.188,0,0,0-2.832,8.533,7.908,7.908,0,0,0,4.682,6.5,10.127,10.127,0,0,0,4.929.622,9.5,9.5,0,0,0,7.462-4.351,4.318,4.318,0,0,0,.841-2.753C960.8-179.565,960.864-181.18,960.864-182.789Z" transform="translate(287.867 12.23)" fill="#fff"/>
                  <path id="Path_6" data-name="Path 6" d="M913.638-174.033c-.191,1.531-.353,2.921-.555,4.312a.884.884,0,0,1-.37.555,30.116,30.116,0,0,1-11.757,4.278,22.705,22.705,0,0,1-14.292-2.467,13.212,13.212,0,0,1-7.177-10.137,17.08,17.08,0,0,1-.083-2.276c-.012-5.321.05-10.642-.028-15.957a14.969,14.969,0,0,1,1.76-7.076,16.134,16.134,0,0,1,7.8-7.614,22.023,22.023,0,0,1,7.766-1.867,28.191,28.191,0,0,1,7.272.286,14.5,14.5,0,0,1,8.64,4.463,11.2,11.2,0,0,1,2.736,6.425,14.013,14.013,0,0,1-2.624,10,15.467,15.467,0,0,1-7.6,5.36,30.029,30.029,0,0,1-8.931,1.6,40.994,40.994,0,0,1-7.087-.28c-.611-.079-.824.107-.812.74.034,1.878.062,3.757,0,5.635a7.868,7.868,0,0,0,6.425,8.158,22.1,22.1,0,0,0,7.193.348,22.16,22.16,0,0,0,6.992-1.738c1.43-.656,2.747-1.553,4.115-2.349C913.19-173.73,913.352-173.848,913.638-174.033Zm-25.124-20.291c0,1.744.017,3.488-.011,5.231-.006.51.123.813.667.863a4.419,4.419,0,0,1,.527.112,21.3,21.3,0,0,0,7.131.05,21.069,21.069,0,0,0,4.1-.914,8.659,8.659,0,0,0,5.713-6.263,17.394,17.394,0,0,0,.269-7.053c-.521-3.4-2.22-5.018-5.618-5.646a14.263,14.263,0,0,0-4.255.123,9.343,9.343,0,0,0-6.324,3.269,8.285,8.285,0,0,0-2.2,5.534C888.52-197.453,888.514-195.888,888.514-194.324Z" transform="translate(36.505 12.294)" fill="#fff"/>
                  <path id="Path_7" data-name="Path 7" d="M892-172.44c1.491.712,2.809,1.413,4.183,1.99a18.975,18.975,0,0,0,8.8,1.761c3.673-.275,6.745-1.789,8.567-5.147a6.788,6.788,0,0,0-2.092-8.825,34.87,34.87,0,0,0-8.382-4.272,20.2,20.2,0,0,1-7.076-4.356,10.887,10.887,0,0,1-3.252-6.734,11.755,11.755,0,0,1,2.293-8.528,13.629,13.629,0,0,1,8.752-5.371,21.8,21.8,0,0,1,14.157,1.912,2.608,2.608,0,0,1,1.677,2.2,22.389,22.389,0,0,0,.448,2.321c-.88-.4-1.643-.768-2.416-1.088a17.682,17.682,0,0,0-7.754-1.592,11.3,11.3,0,0,0-5.8,1.62c-2.478,1.643-3.145,4.1-2.932,6.908a4.861,4.861,0,0,0,1.189,3.4,10.079,10.079,0,0,0,2.63,1.783,80.434,80.434,0,0,1,10.793,5.792,15.268,15.268,0,0,1,5.556,5.495,10.516,10.516,0,0,1-.852,11.567,15.45,15.45,0,0,1-8.8,5.971,24.522,24.522,0,0,1-9.582.465,23.919,23.919,0,0,1-7.166-1.884,2.95,2.95,0,0,1-2.069-2.276A29.158,29.158,0,0,0,892-172.44Z" transform="translate(94.685 12.562)" fill="#fff"/>
                  <path id="Path_8" data-name="Path 8" d="M886.707-211.431a1.607,1.607,0,0,1,.325-.067c2.484.011,4.968.017,7.446.056a4.256,4.256,0,0,1,1.307.28,1.812,1.812,0,0,1,1.39,2.018c.006.415,0,.83,0,1.245l.18.084c.224-.185.454-.359.673-.555a13.654,13.654,0,0,1,10.361-3.88,8.451,8.451,0,0,1,4.071,1.413.647.647,0,0,1,.275.342c.2,1.318.376,2.635.56,3.97-1.127-.286-2.176-.594-3.241-.819a9.869,9.869,0,0,0-7.092,1.239,12.9,12.9,0,0,0-4.934,4.592,9.094,9.094,0,0,0-1.262,4.727q.008,14.844.005,29.693c0,.97,0,.97-.992.97H889.2c-.88,0-.88-.006-.88-.9q-.008-20.109.005-40.223a4.675,4.675,0,0,0-1.525-3.964C886.757-211.246,886.752-211.324,886.707-211.431Z" transform="translate(70.287 12.821)" fill="#fff"/>
                  <path id="Path_9" data-name="Path 9" d="M928.793-211.475c.965,0,1.766-.005,2.562,0,1.766.011,3.538.006,5.3.056a4.436,4.436,0,0,1,1.363.3,1.8,1.8,0,0,1,1.351,1.979c.006.415,0,.835,0,1.43a5.018,5.018,0,0,0,.639-.432,14.184,14.184,0,0,1,8.141-4.026,9.243,9.243,0,0,1,6.426,1.312.753.753,0,0,1,.353.432c.207,1.3.376,2.59.56,3.925-1.11-.286-2.153-.594-3.213-.813a9.815,9.815,0,0,0-6.863,1.093,13.52,13.52,0,0,0-4.866,4.194,8.99,8.99,0,0,0-1.587,5.169q.008,14.92,0,29.834c0,.919,0,.925-.9.925-2.1,0-4.2.006-6.307,0-1.357-.006-1.239.123-1.239-1.217q-.009-20.075,0-40.156a4.6,4.6,0,0,0-.634-2.691A15.879,15.879,0,0,0,928.793-211.475Z" transform="translate(264.168 12.799)" fill="#fff"/>
                  <path id="Path_10" data-name="Path 10" d="M909.311-170.663c1.385,0,2.748.084,4.1-.017,2.686-.2,4.295-1.817,5.1-4.255a10.619,10.619,0,0,0,.561-3.2c.045-8.113.022-16.226.022-24.339,0-.925,0-.925-.959-.925h-4.727c.41-.7.707-1.306,1.1-1.845,1.2-1.637,2.344-3.325,3.689-4.827a15.083,15.083,0,0,1,2.843-2.052.941.941,0,0,1,.51-.135c2.484-.011,4.962-.006,7.541-.006a2.994,2.994,0,0,1-.314.387,3.4,3.4,0,0,0-1.088,2.635c.011,9.986.056,19.977-.017,29.968a13.756,13.756,0,0,1-4.065,9.885,15.893,15.893,0,0,1-5.192,3.471,3,3,0,0,1-2.9-.062A26.6,26.6,0,0,1,909.311-170.663Z" transform="translate(174.419 12.859)" fill="#fff"/>
                  <path id="Path_11" data-name="Path 11" d="M926.741-165.09c-5.046-.129-9.812-.6-13.978-3.448a11.712,11.712,0,0,1-5.047-8.191,26.381,26.381,0,0,1-.269-3.93q-.034-13.877.005-27.754c0-1.435-.045-2.792-1.558-3.773.393-.034.583-.062.768-.062,2.013-.006,4.031.056,6.039-.022a4.776,4.776,0,0,1,3.448,1.379,29.466,29.466,0,0,1,5.534,7.182,1.539,1.539,0,0,1,.079.342h-4.788c-.9,0-.908,0-.908.936-.006,1.144,0,2.282,0,3.42,0,6.661.051,13.322-.022,19.983a10.9,10.9,0,0,0,2.68,7.16,31.218,31.218,0,0,0,7.653,6.538Z" transform="translate(158.682 12.826)" fill="#fff"/>
                  <path id="Path_12" data-name="Path 12" d="M925.846-194.292c.039-2.646.885-4.967,3.173-6.38,2.865-1.772,6.813-1.632,8.977,1.447a8.376,8.376,0,0,1,1.317,6.01,7.293,7.293,0,0,1-2.091,4.452,6.5,6.5,0,0,1-3.521,1.615,6.441,6.441,0,0,1-7.653-5.354C925.935-193.086,925.913-193.692,925.846-194.292Zm2.635-.045c0,.314-.011.628.006.942a4.5,4.5,0,0,0,3.582,4.446,3.584,3.584,0,0,0,3.779-1.5,8.17,8.17,0,0,0-.011-7.9,3.978,3.978,0,0,0-6.173-.213A6.541,6.541,0,0,0,928.481-194.337Z" transform="translate(250.592 60.996)" fill="#fff"/>
                  <path id="Path_13" data-name="Path 13" d="M927.238-194.274a6.061,6.061,0,0,1,1.065,1.262c.493,1.11.891,2.271,1.279,3.426.224.667.353,1.362.555,2.164-.752,0-1.435.028-2.114-.022-.14-.011-.331-.286-.381-.471-.314-1.043-.6-2.1-.875-3.151-.454-1.749-.9-2.047-2.848-2.226-1.547-.14-1.4-.275-1.413,1.334-.011,1.273-.022,2.545.006,3.818.011.533-.135.751-.712.751-1.631-.011-1.631.017-1.631-1.632,0-3.914.016-7.822-.017-11.729-.005-.69.275-.852.892-.925a21,21,0,0,1,5.338.134,3.647,3.647,0,0,1,2.534,5.994,6.391,6.391,0,0,1-1.239,1A4.709,4.709,0,0,1,927.238-194.274Zm-4.732-3.3c0,.65.006,1.3,0,1.946-.005.381.146.6.555.549.875-.118,1.749-.252,2.63-.359,1.177-.14,1.57-.942,1.7-1.979a1.957,1.957,0,0,0-1.424-2.237,6.909,6.909,0,0,0-1.346-.381,9.238,9.238,0,0,0-1.845.062c-.112.017-.252.342-.263.527C922.483-198.827,922.506-198.2,922.506-197.577Z" transform="translate(224.356 61.135)" fill="#fff"/>
                  <path id="Path_14" data-name="Path 14" d="M925.024-199.558c-1.267-.112-2.416-.292-3.56-.286-3.745.017-5.495,2.781-5.125,6.168a4.551,4.551,0,0,0,2.12,3.751,7.725,7.725,0,0,0,2.445.757,8.625,8.625,0,0,0,1.939.005c.539-.017.852-.23.819-.869-.056-.908-.028-1.828-.011-2.747.006-.37-.123-.527-.5-.516-.516.023-1.031-.006-1.541.011-.381.006-.5-.157-.516-.527-.073-1.368-.084-1.368,1.3-1.368.981,0,1.968.017,2.955-.006.46-.011.634.146.628.617-.017,2.013.006,4.026-.023,6.033a.8.8,0,0,1-.347.617,11.033,11.033,0,0,1-7.978-.039,6.248,6.248,0,0,1-3.762-5.523,7.371,7.371,0,0,1,1.581-5.646,6.979,6.979,0,0,1,3.493-2.254,10.626,10.626,0,0,1,5.876,0c.516.134.734.359.5.9A7.115,7.115,0,0,0,925.024-199.558Z" transform="translate(195.116 61.098)" fill="#fff"/>
                  <path id="Path_15" data-name="Path 15" d="M943.318-196.795a36.426,36.426,0,0,1-.039,5.012c-.505,3.566-3.275,4.956-6.56,4.491-2.865-.4-4.177-2.506-4.289-5.242-.124-2.86-.028-5.725-.051-8.584-.005-.51.19-.656.673-.645,2,.045,1.632-.258,1.648,1.6.022,2.254-.034,4.514.034,6.773a8.58,8.58,0,0,0,.476,2.6A2.578,2.578,0,0,0,938-189.041a2.737,2.737,0,0,0,2.837-2.271,10.509,10.509,0,0,0,.28-2.248c.034-2.478.028-4.962,0-7.44-.005-.589.163-.785.757-.768,1.856.062,1.553-.241,1.575,1.553.017,1.138,0,2.282,0,3.42Z" transform="translate(280.625 61.217)" fill="#fff"/>
                  <path id="Path_16" data-name="Path 16" d="M938.577-194.512c0-2.125.016-4.244-.006-6.364-.011-.583.213-.751.774-.807a21.874,21.874,0,0,1,5.136.112,4.135,4.135,0,0,1,2.983,6.5,4.648,4.648,0,0,1-3.751,2c-.807.073-1.626.09-2.433.2-.146.022-.343.364-.348.566-.033,1.34-.017,2.68-.022,4.02,0,.875,0,.88-.891.875-1.659-.017-1.424.213-1.435-1.407C938.571-190.716,938.577-192.617,938.577-194.512Zm2.337-2.809c0,.69.006,1.385,0,2.08-.005.342.106.572.494.549a21.1,21.1,0,0,0,2.31-.14,2.665,2.665,0,0,0,1.732-4.02c-.134-.224-.319-.5-.538-.566a7.923,7.923,0,0,0-3.4-.617c-.409.05-.605.219-.6.634C940.92-198.706,940.915-198.017,940.915-197.321Z" transform="translate(309.212 61.143)" fill="#fff"/>
                  <path id="Path_17" data-name="Path 17" d="M916.373-214.226c-1.514,1.149-1.721,2.742-1.615,4.463.034.555.006,1.116.006,1.676,0,1.25-.163,1.413-1.435,1.413h-5.966c-1.177,0-1.374-.2-1.374-1.346,0-1.25.051-2.5-.011-3.745-.084-1.531.712-1.889,1.71-2.288a2.979,2.979,0,0,1,1.048-.168C911.282-214.237,913.827-214.226,916.373-214.226Z" transform="translate(159.036 3.814)" fill="#fff"/>
                  <path id="Path_18" data-name="Path 18" d="M910.913-214.219c2.859,0,5.495-.039,8.125.028a4.519,4.519,0,0,1,1.794.65,1.391,1.391,0,0,1,.723,1.34c-.017,1.491.006,2.988-.005,4.485-.005.762-.28,1.032-1.071,1.037q-3.313.017-6.638,0c-.807-.006-1.054-.275-1.06-1.11-.011-.757-.045-1.519.006-2.276A4.163,4.163,0,0,0,910.913-214.219Z" transform="translate(181.799 3.813)" fill="#fff"/>
                </g>
              </svg>
            </a>
          </div>
          <div class="menu--wrapper md:col-start-5 md:col-span-8">
            <nav class="nav menu-nav">
              <h4 class="mb-6 md:mb-3 lg:mb-6">Subsidiaries</h4>
              <ul class="grid grid-cols-2 md:grid-cols-4 gap-4">
                <li>
                  <a href="javascript:void(0);" class="link inline-block py-2" data-group="#gjm">
                    <picture class="block" >
                      <source type="image/webp" srcset="../images/logo_gjm_white.static.webp">
                      <source type="image/png" srcset="../images/logo_gjm_white.static.png">
                      <img src="../images/logo_gjm_white.static.png" alt="PT Global Jaya Medika" />
                    </picture>
                  </a>
                </li>
                
                <li>
                  <a href="javascript:void(0);" class="link inline-block py-2" data-group="#gdm">
                    <picture class="block" >
                      <source type="image/webp" srcset="../images/logo_gdm_white.static.webp">
                      <source type="image/png" srcset="../images/logo_gdm_white.static.png">
                      <img src="../images/logo_gdm_white.static.png" alt="PT Global Dispomedika" />
                    </picture>
                  </a>
                </li>
                
                <li>
                  <a href="javascript:void(0);" class="link inline-block py-2" data-group="#gps">
                    <picture class="block" >
                      <source type="image/webp" srcset="../images/logo_gps_white.static.webp">
                      <source type="image/png" srcset="../images/logo_gps_white.static.png">
                      <img src="../images/logo_gps_white.static.png" alt="PT Global Promedika Services" />
                    </picture>
                  </a>
                </li>
                
                <li>
                  <a href="javascript:void(0);" class="link inline-block py-2" data-group="#gmi">
                    <picture class="block" >
                      <source type="image/webp" srcset="../images/logo_gmi_white.static.webp">
                      <source type="image/png" srcset="../images/logo_gmi_white.static.png">
                      <img src="../images/logo_gmi_white.static.png" alt="PT Global Medipro Investama" />
                    </picture>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="footer--bottom py-4 border-t-[1px] border-[#999]">
      <div class="container">
        <p class="font-bold text-xs">&#169; 2022 Bersaudara Group</p>
      </div>
    </div>
  </footer>
</body>

<template data-template="home-founders">
  <div class="container">
    <h3 class="section-title uppercase mb-8">Founders</h3>
    <div class="grid lg:grid-cols-2 gap-6 md:gap-12">
      <div class="founders-picture lg:order-2">
        <div class="grid grid-cols-2 gap-3">
          <div class="picture--wrapper">
            <picture class="block">
              <source type="image/webp" srcset="../images/kv-founder_01.static.webp">
              <source srcset="../images/kv-founder_01.static.jpg">
              <img src="../images/kv-founder_01.static.jpg" width="600" height="600" alt="Husni Ahmad" />
            </picture>
            <figcaption class="inline-block w-full md:w-[200px] rounded-b-2xl font-bold text-white text-xs text-center p-2 bg-gradient-to-r from-blue-2 to-blue-3">
              Husni Ahmad
            </figcaption>
          </div>
          <div class="picture--wrapper">
            <picture class="block">
              <source type="image/webp" srcset="../images/kv-founder_02.static.webp">
              <source srcset="../images/kv-founder_02.static.jpg">
              <img src="../images/kv-founder_02.static.jpg" width="600" height="600" alt="Nur Fuad Ahmad" />
            </picture>
            <figcaption class="inline-block w-full md:w-[200px] rounded-b-2xl font-bold text-white text-xs text-center p-2 bg-gradient-to-r from-blue-2 to-blue-3">
              Nur Fuad Ahmad
            </figcaption>
          </div>
        </div>
      </div>
      <div class="founders-content lg:order-1 flex items-center">
        <div class="founders-content--wrapper ">
          <p class="whitespace-pre-line leading-relaxed text-[#333]">Stemmed from the profound aspiration of two brothers, Husni Ahmad and Nur Fuad Ahmad, to introduce world class medical equipment to the Indonesian market, <span class="whitespace-nowrap">PT. Bersaudara</span> was established in 1962 to become one of the pioneers in the distribution of imported medical equipment in Indonesia.
            
            With a commitment to innovation and adaptability to the exponential growth of medical technology, <span class="whitespace-nowrap">PT. Bersaudara</span> became a holding company of <span class="whitespace-nowrap">PT. Global Jaya Medika</span>, <span class="whitespace-nowrap">PT. Global Dispomedika</span>, <span class="whitespace-nowrap">PT. Global Promedika Service</span>, and <span class="whitespace-nowrap">PT. Global Medipro Investama</span>, and appointed each subsidiary to focus on the different needs and market within the health industry.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<template data-template="home-structure">
  <div class="container">
    <h3 class="section-title uppercase mb-6 md:mb-16">Company Organization Structure</h3>
    <div class="structure--wrapper">
      <picture class="subsidiary-picture block">
        <source type="image/webp" media="(min-width: 768px)" srcset="../images/kv-structure-bsd-desktop.static.webp">
        <source type="image/png" media="(min-width: 768px)" srcset="../images/kv-structure-bsd-desktop.static.png">
        <source type="image/webp" srcset="../images/kv-structure-bsd-mobile.static.webp">
        <source type="image/png" srcset="../images/kv-structure-bsd-mobile.static.png">
        <img src="../images/kv-structure-bsd-mobile.static.png" alt="BSD Structure" />
      </picture>
    </div>
  </div>
</template>

<template data-template="home-accent-anatomical">
  <div class="bg-accent accent-anatomical" style="background-image: url('../images/bg-anatomical.static.jpeg');"></div>
</template>

<template data-template="home-subsidiaries">
  <div class="container">
    <div class="flex flex-wrap justify-center">
      <div class="flex-initial w-full xl:w-[80%]">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          
          <div class="subsidiary-item relative">
            <picture class="subsidiary-picture block">
              <source type="image/webp" srcset="../images/bg-gjm.static.webp">
              <source srcset="../images/bg-gjm.static.jpg">
              <img src="../images/bg-gjm.static.jpg" width="800" height="765" alt="gjm" />
            </picture>
            
            <div class="subsidiary-content absolute z-[2] top-0 left-0 w-full h-full p-6 lg:p-16 text-white">
              <picture class="block" >
                <source type="image/webp" srcset="../images/logo_gjm_white.static.webp">
                <source type="image/png" srcset="../images/logo_gjm_white.static.png">
                <img src="../images/logo_gjm_white.static.png" alt="PT Global Jaya Medika" />
              </picture>
              <h4 class="text-xl md:text-2xl leading-snug uppercase mb-4">Global Jaya Medika</h4>
              <p class="text-sm leading-relaxed">PT. Global Jaya Medika is a market leader in the distribution of durable medical and laboratory equipment in Indonesia.</p>
            </div>
          </div>
          
          <div class="subsidiary-item relative">
            <picture class="subsidiary-picture block">
              <source type="image/webp" srcset="../images/bg-gdm.static.webp">
              <source srcset="../images/bg-gdm.static.jpg">
              <img src="../images/bg-gdm.static.jpg" width="800" height="765" alt="gjm" />
            </picture>
            
            <div class="subsidiary-content absolute z-[2] top-0 left-0 w-full h-full p-6 lg:p-16 text-white">
              <picture class="block" >
                <source type="image/webp" srcset="../images/logo_gdm_white.static.webp">
                <source type="image/png" srcset="../images/logo_gdm_white.static.png">
                <img src="../images/logo_gdm_white.static.png" alt="PT Global Dispomedika" />
              </picture>
              <h4 class="text-xl md:text-2xl leading-snug uppercase mb-4">Global Dispomedika</h4>
              <p class="text-sm leading-relaxed">PT. Global Dispomedika is one of the biggest distributors for disposable medical equipment and products in Indonesia.</p>
            </div>
          </div>
          
          <div class="subsidiary-item relative">
            <picture class="subsidiary-picture block">
              <source type="image/webp" srcset="../images/bg-gps.static.webp">
              <source srcset="../images/bg-gps.static.jpg">
              <img src="../images/bg-gps.static.jpg" width="800" height="765" alt="gjm" />
            </picture>
            
            <div class="subsidiary-content absolute z-[2] top-0 left-0 w-full h-full p-6 lg:p-16 text-white">
              <picture class="block" >
                <source type="image/webp" srcset="../images/logo_gps_white.static.webp">
                <source type="image/png" srcset="../images/logo_gps_white.static.png">
                <img src="../images/logo_gps_white.static.png" alt="PT Global Promedika Services" />
              </picture>
              <h4 class="text-xl md:text-2xl leading-snug uppercase mb-4">Global Promedika Services</h4>
              <p class="text-sm leading-relaxed">Established in 2007, PT. Global Promedika Service is one of the 38 laboratories accredited to offer calibration services for medical equipment in Indonesia.</p>
            </div>
          </div>
          
          <div class="subsidiary-item relative">
            <picture class="subsidiary-picture block">
              <source type="image/webp" srcset="../images/bg-gmi.static.webp">
              <source srcset="../images/bg-gmi.static.jpg">
              <img src="../images/bg-gmi.static.jpg" width="800" height="765" alt="gjm" />
            </picture>
            
            <div class="subsidiary-content absolute z-[2] top-0 left-0 w-full h-full p-6 lg:p-16 text-white">
              <picture class="block" >
                <source type="image/webp" srcset="../images/logo_gmi_white.static.webp">
                <source type="image/png" srcset="../images/logo_gmi_white.static.png">
                <img src="../images/logo_gmi_white.static.png" alt="PT Global Medipro Investama" />
              </picture>
              <h4 class="text-xl md:text-2xl leading-snug uppercase mb-4">Global Medipro Investama</h4>
              <p class="text-sm leading-relaxed">PT. Global Medipro Investama was built to increase domestic production of medical equipment in Indonesia as an effort to comply with the decrees by the Ministry of Health of Indonesia.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template data-template="home-maps">
  <div class="container">
    <h3 class="section-title uppercase text-[#b1b1b1] text-right">Service Points<br/>Around Indonesia</h3>
    <div class="map--wrapper">
      <picture class="subsidiary-picture block">
        <source type="image/webp" srcset="../images/bg-maps.static.webp">
        <source srcset="../images/bg-maps.static.png">
        <img src="../images/bg-maps.static.png" width="1640" height="821" class="w-full" alt="map indonesia" />
      </picture>
    </div>
  </div>
</template>

<template data-template="home-clients">
  <div class="container">
    <h3 class="section-title uppercase mb-12">Major Client &amp; Network</h3>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-3 lg:gap-12">
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-1.static.png" alt="client 1">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-2.static.png" alt="client 2">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-3.static.png" alt="client 3">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-4.static.png" alt="client 4">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-5.static.png" alt="client 5">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-6.static.png" alt="client 6">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-7.static.png" alt="client 7">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-8.static.png" alt="client 8">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-9.static.png" alt="client 9">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-10.static.png" alt="client 10">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-11.static.png" alt="client 11">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-12.static.png" alt="client 12">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-13.static.png" alt="client 13">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-14.static.png" alt="client 14">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-15.static.png" alt="client 15">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-16.static.png" alt="client 16">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-17.static.png" alt="client 17">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-18.static.png" alt="client 18">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-19.static.png" alt="client 19">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-20.static.png" alt="client 20">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-21.static.png" alt="client 21">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-22.static.png" alt="client 22">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-23.static.png" alt="client 23">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-24.static.png" alt="client 24">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-25.static.png" alt="client 25">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-26.static.png" alt="client 26">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-27.static.png" alt="client 27">
        </figure>
      </div>
      
      <div class="client-item">
        <figure class="block">
          <img src="../images/logo-client-bsd-28.static.png" alt="client 28">
        </figure>
      </div>
    </div>
  </div>
</template>

<template data-template="home-accent-operation">
  <div class="bg-accent accent-operation" style="background-image: url('../images/bg-operation.static.jpeg');"></div>
</template>
</html>
